<header class="header">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="header-box">
          <div class="logo-title">
            <a href="{{ site.baseurl }}/" class="logo-text">Afnan Mostafa</a>
          </div>

          <nav class="nav-menu">
            <i class="menu-close ion ion-ios-close"></i>
            <ul class="menu-list">
              <li class="menu-item"><a href="{{ site.baseurl }}/" class="menu-link">Home</a></li>
              <li class="menu-item"><a href="{{ site.baseurl }}/about" class="menu-link">About</a></li>
              <li class="menu-item"><a href="{{ site.baseurl }}/academia" class="menu-link">Academia</a></li>
              <li class="menu-item"><a href="{{ site.baseurl }}/research" class="menu-link">Research</a></li>
              <li class="menu-item"><a href="{{ site.baseurl }}/skill" class="menu-link">Skill</a></li>
              <li class="menu-item"><a href="{{ site.baseurl }}/publication" class="menu-link">Publication</a></li>
              <li class="menu-item"><a href="{{ site.baseurl }}/experience" class="menu-link">Experience</a></li>
              <li class="menu-item"><a href="{{ site.baseurl }}/accolades" class="menu-link">Accolades</a></li>
              <li class="menu-item"><a href="{{ site.baseurl }}/write-ups" class="menu-link">Write-ups</a></li>
              <li class="menu-item"><a href="{{ site.baseurl }}/contact" class="menu-link">Contact</a></li>
            </ul>
          </nav>
          <div class="nav-buttons">
            <i class="menu-button d-hide ion ion-ios-menu"></i>
            <i class="search-button ion ion-ios-search"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="search">
    <div class="search-box">
      <i class="search-close-button ion ion-ios-close"></i>
      <label for="js-search-input" class="screen-reader-text"></label>
      <input type="text" id="js-search-input" class="search-text" autocomplete="off" placeholder="Search Something...">
      <ol id="js-results-container" class="search-results-list"></ol>
    </div>
  </div>
</header> <!-- /.header -->
